@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
  font-family: myFont;
  src: url(Brogte.otf);  


}
*{
  margin:0;
  padding:0;
}
body{
  height:100vh;
  width:100%;
  background: linear-gradient(70deg,#ffffff,#ec91b7,#8768ea);
}




.logo{
  font-family: myFont;
  font-weight: bold;
  text-align: center;
  font-size: 100px;
  color: white;
  
  
}
.text{
  font-family: poppins;
  text-align: center;
  display:block;
  font-weight:500;
}
footer{
  color: white;
  text-align:center;
  margin-top: 10%;
  text-decoration: none;
  display: flex; /* Or use grid */
  justify-content: center; /* Center the elements */
  gap: 40px;
}
